**/.git
**/.env*
**/node_modules
**/dist
**/coverage
**/*.log
**/npm-debug.log*
**/.DS_Store
**/Thumbs.db
**/*.test.ts
**/*.spec.ts
**/__tests__
**/test
**/tests
**/.nyc_output
**/openapi.json
**/sdk
**/scripts
apps/api/prisma/migrations/*.sql
**/.vscode
**/.github
**/turbo.json
